*{
    margin: 0;
    padding: 0;
}
.nav {
    background-color: cadetblue;
    height: 50px;
    padding-top: 23px;
    
}
.nav span a{
    list-style: none;  
    text-decoration: none;
    padding: 25px;
    font-weight: bold;
    font-size: larger;
    color: black;  
}
.nav span a:hover{
    color: rgb(49, 49, 56);
}