*{
    margin: 0;
    padding: 0;
}
:root{
    --color : rgb(15, 121, 29);
    --seccolor : rgb(106, 201, 103);
}
body{
    background-color: var(--seccolor) ;
}
.nav {
    background-color: var(--color);
    height: 50px;
    padding-top: 23px;
    
}
.nav span a{
    list-style: none;  
    text-decoration: none;
    padding: 25px;
    font-weight: bold;
    font-size: larger;
    color: black;  
}
.nav span a:hover{
    color: rgb(49, 49, 56);
}
.content h1{
    text-align: center;
    margin: 25px;
    font-size: 50px;
}
.card-parent{
    display: flex;
    justify-content: center;
}
.card{
    
    border: 1px solid black;
    border-radius: 30px;
    height: 250px;
    margin: 25px;
    padding: 25px;
}
.card h2{
    text-align: center;
    margin: 20px;
    font-weight: bolder;
}
.card button{
   margin-left: 8px;
   margin-top: 10px;
   padding: 10px;
   border-radius: 30px;
   background-color: var(--color);
}
.footer{
    height: 45px;
    margin-top: 55px;
    background-color: black;
    text-align: center;
    color: white;
    padding: 7px;
}
